/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: serif; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

h2 {
  font-size: 20px;
  float: left;
  margin: 0; }

a {
  text-decoration: none;
  color: darkgrey; }
  a:hover {
    text-decoration: underline; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

.refinements {
  width: 250px;
  padding: 10px; }
  .refinements .clear-filter {
    float: right;
    font-size: 12px;
    font-weight: 400;
    color: #666666; }
  .refinements [data-clear="all"] {
    float: left;
    margin-left: 5px; }

.refinements-title-wrapper {
  overflow: auto;
  clear: both;
  margin-bottom: 10px; }

.refinement-header {
  font-size: 12px;
  float: left;
  font-weight: bold;
  color: #0d0d0d; }
  .refinement-header .refinement-header-title {
    float: left;
    margin: 0;
    text-transform: uppercase; }

.panel {
  border-top: 1px solid #cccccc;
  clear: both;
  padding: 8px 0; }
  .panel .options {
    padding: 2px;
    margin-top: 10px; }
    .panel .options .options-list {
      font-size: 12px; }
    .panel .options input[type="checkbox"] {
      border-radius: 0;
      border: solid 2px #666666;
      background-color: #fff;
      color: #666666;
      white-space: nowrap;
      overflow: hidden;
      width: 15px;
      height: 15px; }
    .panel .options.single-column {
      border: 1px solid lightgray; }
    .panel .options.two-column .options-list {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 4; }

/*# sourceMappingURL=main.css.map */
