$refinement-header-color:#0d0d0d;
$panel-border-color:#cccccc;
$clear-filter-color:#666666;
$refinements-width: 250px;

.refinements {
  width: $refinements-width;
  padding: 10px;
  .clear-filter {
    float: right;
    font-size: 12px;
    font-weight: 400;
    color: $clear-filter-color;
  }
  [data-clear="all"]{
    float: left;
    margin-left: 5px;
  }
}

.refinements-title-wrapper{
  overflow: auto;
  clear: both;
  margin-bottom: 10px;
}
.refinement-header {
  font-size: 12px;
  float: left;
  font-weight: bold;
  color: $refinement-header-color;

  .refinement-header-title {
    float: left;
    margin: 0;
    text-transform: uppercase;
  }
}

.panel {
  border-top: 1px solid $panel-border-color;
  clear: both;
  padding: 8px 0;
  .options {
    padding: 2px;
    margin-top: 10px;
    .options-list {
      font-size: 12px;

    }
    .options-list-item {
    }
    input[type="checkbox"]{
      border-radius:0;
      border: solid 2px $clear-filter-color;
      background-color:#fff;
      color:$clear-filter-color;
      white-space: nowrap;
      overflow:hidden;
      width:15px;
      height:15px;
    }
    &.single-column {
      border: 1px solid lightgray;
    }
    &.two-column {
      .options-list {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 4;
      }
    }
  }
}

