<!doctype html>
<html class="no-js" lang="en" ng-app="asosRefinementsApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ASOS Refinements Test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="css/main.css">
        <!--<script data-main="js/main.js" src="bower_components/requirejs/require.js"></script>-->
        <script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="js/controllers/refinementsCtrl.js" type="text/javascript"></script>
        <script src="js/models/facetsListModel.js" type="text/javascript"></script>
        <script src="js/directives/clearFilter.js" type="text/javascript"></script>
        <script src="js/directives/handleCheckboxes.js" type="text/javascript"></script>
        <script src="js/directives/deserialize.js" type="text/javascript"></script>
    </head>
    <body ng-controller="asosRefinementsCtrl">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--<div ng-include="'views/refinementsPanel.html'"></div>-->
        <div ng-view></div>
        <!--<aside class="refinements" data-hasanyselected="false">-->
            <!--<div class="refinements-title-wrapper">-->
                <!--<h2>REFINE BY</h2>-->
                <!--<a href="#" class="clear-filter" data-clear="all" clear-filter>Clear All</a>-->
            <!--</div>-->

            <!--<div class="panel" data-ng-repeat="facet in facets" data-id="{{facet.id}}" data-hasselections="{{facet.hasselections}}" data-displaystyle="{{facet.displaystyle}}">-->
                <!--<div class="refinements-title-wrapper">-->
                    <!--<a href="#" class="refinement-header">-->
                        <!--<h3 class="refinement-header-title">-->
                            <!--<span class="facet-name">{{facet.title}}</span>-->
                        <!--</h3>-->
                    <!--</a>-->
                    <!--<a href="#" data-clear="size" class="clear-filter" clear-filter>Clear</a>-->
                <!--</div>-->
                <!--<div class="options scrollable {{facet.displaystyle}}">-->
                    <!--<ul class="options-list">-->
                        <!--<li class="options-list-item" data-ng-repeat="property in facet.properties">-->
                            <!--<input type="checkbox" id="{{facet.id}}_{{property.id}}" handle-checkboxes/>-->
                            <!--<label for="{{facet.id}}_{{property.id}}">{{property.name}}</label>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</aside>-->

    </body>
</html>
