<aside class="refinements" data-hasanyselected="false" >
    <div class="refinements-title-wrapper">
        <h2 id="refinements-title">REFINE BY</h2>
        <a href="#" class="clear-filter" data-clear="all" clear-filter>Clear All</a>
    </div>

    <div class="panel" data-ng-repeat="facet in facets" data-id="{{facet.id}}" data-hasselections="{{facet.hasselections}}" data-displaystyle="{{facet.displaystyle}}" deserialize>
        <div class="refinements-title-wrapper">
            <a href="#" class="refinement-header">
                <h3 class="refinement-header-title">
                    <span class="facet-name">{{facet.title}}</span>
                </h3>
            </a>
            <a href="#" data-clear="size" class="clear-filter" clear-filter>Clear</a>
        </div>
        <div class="options scrollable {{facet.displaystyle}}">
            <ul class="options-list">
                <li class="options-list-item" data-ng-repeat="property in facet.properties">
                    <input type="checkbox" id="{{facet.id}}_{{property.id}}" handle-checkboxes/>
                    <label for="{{facet.id}}_{{property.id}}">{{property.name}}</label>
                </li>
            </ul>
        </div>
    </div>
</aside>